@use "../styles/styles.scss";

.light-theme .ErrorPage {
    .logo-icon {
        g path {
            fill: #000112;
        }
    }
    color: styles.$c-black-1;
}

.dark-theme .ErrorPage {
    color: styles.$c-white-1;
}

.ErrorPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    font-size: 0.875rem;
}
