@use "../styles/styles.scss";

.App.light-theme .loading {
    .logo-icon {
        g path {
            fill: #000112;
        }
    }

    span {
        color: styles.$c-black-1;
    }
}

.App.dark-theme .loading {
    span {
        color: styles.$c-white-1;
    }
}

.loading {
    height: 100vh;
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    svg {
        display: block;
    }

    .loading-icon {
        width: 100px;
        height: 100px;
    }

    span {
        font-size: 0.875rem;
    }
}

.loading {
    &.fade-enter-active,
    .fade-exit-active {
        transition: 150ms;
    }
}
